* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.dropdownContent {
  width: 38%;
}

#js-new-filter-form {
  width: 38%;
}

.newBookmark {
  width: 100%;
}




.bookmarksContainer {
  border-width: 1px;
  border-style: solid;
  margin: 2%;
}

.singleBookmarkContainer {
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmarkName {
  font-size: 16pt;

}

.bookmarkRating {
  font-size: 16pt;
}

#newBookmarkURL, #newBookmarkName {
  display: block;
  width: 100%;
  font-size: 16pt;
}

.starRating {
  display: block;
  text-align: center;
  width: 100%;
}

.descriptionSubmit {
  display: block;
  padding: 0px;
}

.descriptionTextArea {
  width: 100%;
  height: 100%;
}

.descriptionSubmit {
  width: 100%;
}

.visitButton, .deleteButton {
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.visitLink {
  text-decoration: none;
}

.descriptionExpanded {
  display: block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}