* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.sub-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
}

.bookmarkName, .bookmarkRating {
  margin: 5px;
}

.descriptionExpanded {
  font-size: 14pt;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  min-height: 35px;
}

.initialButton {
  min-height: 35px;
  font-size: 14pt;
}
.dropdownContent {
  width: 38%;
  text-align: center;
  font-size: 14pt;
}

#js-new-filter-form {
  width: 38%;
}

.newBookmarkURLInput {
  margin-bottom: 15px;
}

.newBookmark {
  width: 100%;
}

.bookmarkContainer {
  text-align: center;
}

.bookmarksContainer {
  border-width: 1px;
  border-style: solid;
  margin: 2%;
}

.single-bookmark-container {
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmarkName {
  font-size: 16pt;

}

.bookmarkRating {
  font-size: 16pt;
}

#newBookmarkURL, #new-bookmark-name {
  display: block;
  width: 100%;
  font-size: 16pt;
}

.starRating {
  display: block;
  text-align: center;
  margin: 15px;
  font-size: 14pt;
}

.descriptionSubmit {
  display: block;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}

.descriptionTextArea {
  width: 100%;
  height: 100%;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
}

.descriptionSubmit {
  width: 100%;
}

.visitButton, .deleteButton, .editButton {
  display: inline-block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 25%;
  min-height: 35px;
  font-size: 12pt;
}

.visitLink {
  text-decoration: none;
}

.descriptionExpanded {
  display: block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.checked {
  color: orange;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}